output/
src/_pychache_
FingerNet Lab.ipynb
.ipynb_checkpoints/FingerNet Lab-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
keras_ver/src/utils.pyc
keras_ver/src/train_test_deploy.py
keras_ver/src/__pycache__/utils.cpython-38.pyc
.ipynb_checkpoints/FingerNetBack-checkpoint.ipynb
keras_ver/src/train_test_deploy.py
keras_ver/src/utils.pyc
keras_ver/src/utils.pyc
keras_ver/src/original_test.txt
